<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node Express Joke Book</title>
    <script src="vendor/jquery.min.js" charset="utf-8"></script>
    <script src="scripts/client.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>Jokes</h1>
    <p id="container"></p>
    <form id="submission">
      Setup:<br>
      <input type=text id="jokeSubmission" name="jokeQuestion"/><br>
      Punchline:<br>
      <input type=text id="punchSubmission" name="punchLine"/><br>
      Name:<br>
      <input type=text id="nameSubmission" name="whoseJoke"/><br>
    </form>
    <button id="submit">Submit a joke</button>
  </body>
</html>
